.noice{
    height:325px;
    background-color:#1180FD;
    color:white;
    text-align: center;
    padding-top:162.5px;
}
.funny{
    font-size: 16pt;
    padding:50px;
}
.fun{
padding:2px;
}
.column {
    float: left;
    width: 33.33%;
    padding: 53.5px;
}
.pos{
    float: right;
    width: 33.33%;
    padding: 53.5px;
}
.height{
    height: 400px;
    width: 400px;
}