
<div class="noice">
    <h1> LIFE OPPORTUNITIES</h1>
</div>

<div>
    <img src="assets/BigL.jpg" alt="BigL" class="column height" > 
<div class="funny">
<H2 >Cgroup</H2>
<p> 
  Cgroup is our support group in which all of our moms and dads help each other to become better
  parents and help wherever needed. When you come to the support group we will have a completion 
  card for you to fill out.In our session we will have a leader who talks about multiple issues regarding
  parenting including your connect card which gets adressed anonymously. Some of the issues that we have talked 
  about in the past have been healthy lifestyles, healthy eating habits, relationships, and dating. 
</p>
</div>
</div>

<div>
    <img src="assets/reunpic.jpg" alt="BigL" class="pos height" >
<div>
<h2 style="padding-top:60px;"> Annual Picnic Reunion</h2>
<p class="funny">
  Our Annual Picnic Reunions are one of the funnest programs that we have. We have a dj and lots of 
  food and it is at a park with a cool playground for all the children to play. The parents come
  and fellowship with each other. Everyone has a good time and we will play games, dance and so much
  more. This is a good opportunity for parents to relieve the stresses of every day life. 
</p>
</div>
</div>

<div>
<img src="assets/BigL.jpg" alt="BigL" class="column height">
<div class="funny">
<h2 > Happy Birthday Jesus Party</h2>
<p>
  Our Annual Happy Birthday Jesus party is our christmas. We ask that everyone bring a gender neutral
  gift for another person, the gift limit is five dollars and we provide the gifts for everyones children.
  In the middle of the party we will have our gift exchange. Once everyone gets a gift, we will choose whether 
  to open them during the party or after the party when they get home. Close to the end of the party, we 
  will read about the birth of jesus christ and why we have christmas in the first place. This party is a celebration
  of God and his birth.
</p>
</div>
</div>

