<div class="noice">
    <h1> BABY SHOWERS</h1>
</div>

    <h3 class="yup">
        L.I.F.E. Baby Showers are the main aspect of our program. Having a baby is a really important
        time in your life no matter what age you are. Unfortunately for lots of teen parents, they
        either cannot afford to throw one or they don't have the family to come and attend. L.I.F.E
        Baby Showers Provide both the financial support and the company that any family would need
        to throw a baby shower.
    </h3>
        <div>
            <p class="cali"><img src="assets/babyshower.jpg" alt="jjj" height="400px" width="400px" class="column">We try our best to make sure that the events that we have are fun and a good time for both
                the attendees and the hosts of the party. We have games and music and so much more. Due to the 
                fact that this is a highly important time, we are making sure that not only do people have the 
                baby shower, but they also build connections and a support system that they can go to whether
                they are in the best or worst season of their life. Bacon ipsum dolor amet strip steak fugiat 
                beef ribeye flank adipisicing incididunt prosciutto. Kevin leberkas turducken esse t-bone spare 
                ribs incididunt rump exercitation venison. Tongue incididunt esse consectetur fugiat in ribeye duis
                 est aliqua cupim. Sunt boudin fugiat meatball tenderloin ipsum doner in turkey bacon. Hamburger in 
                 mollit magna ham hock pancetta, et biltong sunt corned beef ball tip kevin. Short loin drumstick pariatur 
                 qui voluptate. Nisi commodo pig, sunt sausage tenderloin strip steak.Spicy jalapeno bacon ipsum dolor amet ball tip ham hock t-bone buffalo tail kevin. Brisket chicken spare ribs fatback pork belly ham hock. Hamburger doner kielbasa tri-tip, shank short ribs short loin ball tip shoulder chuck spare ribs tail. Meatball cow burgdoggen filet mignon short ribs buffalo, tri-tip kevin salami pork loin bresaola. Capicola turkey shoulder ham hock drumstick. Ribeye jerky pork loin, ham bresaola rump pork chop kielbasa prosciutto sirloin ground round pork boudin salami short loin. Tenderloin fatback hamburger ball tip frankfurter cupim pig pork jerky cow bacon corned beef brisket tongue alcatra.
            </p>
            </div>

    
    