<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h1 class="navbar-brand" href="#">Lifeteens</h1>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/Home']">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/BabyShowers']">Showers</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/Opportunities']">Opportunities</a>
        </li>
        </ul>
    </div>
  </nav>
        
<router-outlet></router-outlet>